<ion-content color="secondary">
	<div>
		<ion-list lines="full" class="ion-no-margin" style="background-color: #25232a">
			<ion-list-header lines="full" color="secondary">
				<ion-label fixed class="fixedLabel"> Connection Settings: </ion-label>
			</ion-list-header>
			<ion-item>
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Voice server</ion-label>
				</ion-col>
				<ion-col size="7" class="settingInputCol">
					<ion-select text-wrap [(ngModel)]="getSettings().voiceServerOption" (ionChange)="onSettingsChange()">
						<ion-select-option [value]="1">Better-Crewlink</ion-select-option>
						<ion-select-option [value]="2">Custom server</ion-select-option>
					</ion-select>
				</ion-col>
			</ion-item>
			<ion-item color="secondary" *ngIf="getSettings().voiceServerOption === 2">
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Custom server</ion-label>
				</ion-col>
				<ion-col size="7">
					<ion-input
						[(ngModel)]="getSettings().customVoiceServer"
						(ionChange)="onSettingsChange()"
						placeholder="Voice server URL"
					></ion-input>
				</ion-col>
			</ion-item>
			<ion-item color="secondary">
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Username</ion-label>
				</ion-col>
				<ion-col size="7">
					<ion-input
						[(ngModel)]="getSettings().username"
						(ionChange)="onSettingsChange()"
						placeholder="'John Doe'"
					></ion-input>
				</ion-col>
			</ion-item>
			<ion-item color="secondary">
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Lobby code</ion-label>
				</ion-col>
				<ion-col size="7">
					<ion-input
						style="text-transform: uppercase"
						pattern="^[A-Za-z]{4}$|^[A-Za-z]{6}$"
						[(ngModel)]="getSettings().gamecode"
						(ionChange)="onSettingsChange()"
						placeholder="'ABCDEF'"
						maxlength="6"
					></ion-input>
				</ion-col>
			</ion-item>
			<ion-item *ngIf="getSettings().isMobile">
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Overlay enabled</ion-label>
				</ion-col>
				<ion-col size="7" class="settingInputCol">
					<ion-checkbox
						[(ngModel)]="getSettings().overlayEnabled"
						(ionChange)="onSettingsChange()"
						placeholder="Overlay enabled"
					></ion-checkbox>
				</ion-col>
			</ion-item>
			<ion-item>
				<ion-col size="5" class="settingLabelCol">
					<ion-label>NAT FIX</ion-label>
				</ion-col>
				<ion-col size="7" class="settingInputCol">
					<ion-checkbox
						[(ngModel)]="getSettings().natFix"
						(ionChange)="onSettingsChange()"
						placeholder="NAT FIX"
					></ion-checkbox>
				</ion-col>
			</ion-item>
			<ion-item>
				<ion-col size="5" class="settingLabelCol">
					<ion-label>Microphone</ion-label>
				</ion-col>
				<ion-col size="7" class="settingInputCol">
					<ion-select
						[(ngModel)]="getSettings().selectedMicrophone"
						[compareWith]="compareFn"
						(ionChange)="onSettingsChange()"
						class="full-width-select"
					>
						<ion-select-option *ngFor="let microphone of gameHelper.microphones" [value]="microphone">
							{{ microphone.label }}</ion-select-option
						>
					</ion-select>
				</ion-col>
			</ion-item>
			<hr />
			<ng-container [ngSwitch]="gameHelper.cManager.connectionState">
				<ng-container *ngSwitchDefault>
					<ion-item color="secondary">
						<ion-button (click)="gameHelper.connect()" [routerLink]="['/game']">Connect</ion-button>
					</ion-item>
				</ng-container>
				<ng-container *ngSwitchCase="1 || 2">
					<ion-item color="secondary">
						<ion-button (click)="gameHelper.connect()">Refresh</ion-button>
						<ion-button (click)="gameHelper.disconnect()">disconnect</ion-button>
					</ion-item>
				</ng-container>
			</ng-container>
		</ion-list>
	</div>
</ion-content>
