<ng-container>
	<ion-toolbar color="primary" #container>
		<ion-buttons slot="start" id="Menu">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button
				right
				*ngIf="gameHelper.cManager.connectionState !== 0"
				[routerLink]="['/settings']"
				(click)="gameHelper.disconnect()"
				>Disconnect</ion-button
			>
		</ion-buttons>
		<!-- <ion-title fittext [minFontSize]="'40px'" *ngIf="gameHelper.cManager.connectionState !== 0" class="ion-text-center small-title"
			>BetterCrewlink Mobile v1.0.13</ion-title
		> -->
		<div [fittext]="true" [activateOnResize]="true" [container]="container" >BetterCrewlink</div>
		<!-- <ion-title  *ngIf="gameHelper.cManager.connectionState == 0" class="ion-text-center small-title"
			>BetterCrewlink Mobile v1.0.13</ion-title
		> -->
	</ion-toolbar>
</ng-container>
