<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

<application>
    <service
        android:name="io.bettercrewlink.plugin.BetterCrewlinkNativeService"
        android:exported="false"/>
    <service
        android:name="io.bettercrewlink.plugin.OverlayService"
        android:exported="false"/>

</application>
</manifest>
