<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" id="Menu">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button
				right
				*ngIf="cManager.connectionState !== 0"
				[routerLink]="['/settings']"
				(click)="disconnect()">Disconnect</ion-button>
		</ion-buttons>
    <ion-title
      *ngIf="cManager.connectionState !== 0"
      class="ion-text-center"
      style="margin-left: -48px; margin-right: -120.96px;"
      >BetterCrewlink Mobile v0.0.6-e</ion-title>
    <ion-title
      *ngIf="cManager.connectionState == 0"
      class="ion-text-center"
      style="margin-left: -48px;"
      >BetterCrewlink Mobile v0.0.7</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content color="secondary">
	<ion-grid>
		<ng-container [ngSwitch]="cManager.connectionState">
			<ng-container *ngSwitchDefault>
				<ion-row class="ion-justify-content-center">
					<p style="text-align: center;"><b>Please go to the settings page to setup Crewlink</b></p>
				</ion-row>
				<ion-row class="ion-justify-content-center">
					<ion-button [routerLink]="['/settings']">Settings</ion-button>
				</ion-row>
			</ng-container>
			<ng-container id="connectPg" *ngSwitchCase="1">
				<ion-row class="ion-justify-content-center">
					<ion-spinner paused="false" id="spinnyBoi" color="light"></ion-spinner>
				</ion-row>
				<p style="text-align: center;"><b>Waiting for you to join</b></p>
				<p style="text-align: center;">**Please make sure there is a PC user with "Mobile Host" enabled on Crewlink in the lobby**</p>
				<ion-row class="ion-justify-content-center">
					<ion-button (click)="reconnect()">refresh</ion-button>
				</ion-row>
			</ng-container>
			<ng-container id="connectedPg" *ngSwitchCase="2">
				<ion-list lines="full" class="ion-no-margin" style="background-color: #25232a;">
					<ion-list-header lines="full" color="secondary">
						<ion-label>Connected Players:</ion-label>
					</ion-list-header>
					<ion-item *ngFor="let item of cManager.currentGameState.players;" color="secondary">
						<ion-label position="fixed">{{item.name}}</ion-label>
					</ion-item>
				</ion-list>
				<ion-button (click)="reconnect()">Refresh</ion-button>
			</ng-container>
		</ng-container>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary">
	  <ion-row class="ion-justify-content-center">
		<ion-col>
		  <ion-row class="ion-justify-content-center">
			<ion-button class="round" href="https://discord.gg/qDqTzvj4SH">
			  <img 
				src="../../assets/icon/discordicon.png"
				width="40"
				height="40"
			  />
			</ion-button>
		  </ion-row>
		</ion-col>
		<ion-col>
		  <ion-row class="ion-justify-content-center">
			<ion-button class="round" href="https://github.com/OhMyGuus/better-crewlink-mobile">
			  <img
				src="../../assets/icon/giticon.png"
				width="40"
				height="40"
			  />
			</ion-button>
		  </ion-row>
		</ion-col>
	  </ion-row>
	</ion-toolbar>
  </ion-footer>