<ng-container>
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button class="round" href="https://discord.gg/qDqTzvj4SH">
            <img 
              src="../../assets/icon/discordicon.png"
              width="40"
              height="40"
            />
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button class="round" href="https://github.com/OhMyGuus/better-crewlink-mobile">
            <img
              src="../../assets/icon/giticon.png"
              width="40"
              height="40"
            />
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ng-container>