<ion-app>
	<ion-menu contentId="main-content">
		<ion-content color="secondary">

			<ion-list id="inbox-list" style="background-color: #25232a">
				<ion-item><b>BetterCrewlink Mobile v1.0.35</b></ion-item>
				<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
					<ion-item
						(click)="selectedIndex = i"
						color="primary"
						routerDirection="root"
						[routerLink]="[p.url]"
						lines="none"
						detail="false"
						[class.selected]="selectedIndex == i"
					>
						<ion-icon slot="start" color="light" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
						<ion-label>{{ p.title }} </ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-header>
		<app-header></app-header>
	</ion-header>
	<ion-router-outlet id="main-content" style="height: 40% !important;"></ion-router-outlet>
	<ion-footer class="footer">
		<app-footer></app-footer>
	</ion-footer>
</ion-app>
