<ng-container>
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-between footerRow">
      <ion-button class="round" href="https://discord.gg/qDqTzvj4SH">
        <img
          src="../../assets/icon/discordicon.png"
          alt="Discord"
        />
      </ion-button>
      <ion-button class="round" href="https://github.com/OhMyGuus/better-crewlink-mobile">
        <img
          src="../../assets/icon/giticon.png"
          alt="GitHub"
        />
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ng-container>