<div class="avatarBase">
	@if (this.volumeOpen) {
		<div class="volumeslider" tabindex="0" (mouseout)="openVolume(false)" (blur)="openVolume(false)">
			<div class="volumeslider-1">
				<ion-range
					class="volumeSliderThingy"
					[(ngModel)]="settings.volume"
					(ionChange)="onVolumeChange()"
					color="light"
					max="{{ MAXVOLUME }}"
					min="0"
					step="1"
					pin="1"
				>
					<ion-icon slot="start" size="small" name="volume-high-outline"></ion-icon>
				</ion-range>
				<ion-button
					size="small"
					fill="clear"
					[color]="settings.isMuted ? 'danger' : 'light'"
					(click)="onMuteToggle()"
					(pointerdown)="$event.stopPropagation()"
				>
					<ion-icon
						slot="icon-only"
						[name]="settings.isMuted ? 'volume-mute-outline' : 'volume-medium-outline'"
					></ion-icon>
				</ion-button>
			</div>
		</div>
	}
	<div
		class="avatar"
		[class.talking]="talking"
		tabindex="0"
		role="button"
		(click)="openVolume()"
		(keyup.enter)="openVolume()"
	>
		<div class="avatar avatar-2">
			<img
				[src]="getBodyImage()"
				class="base no-drag-img"
				style="display: none"
				onload="this.style.display=''"
				(error)="onBodyImageError($event)"
				alt="{{ player.name }}"
			/>
			@if (!isDead && skinIdNum() > 0) {
				<img
					src="assets/avatar/skins/{{ player.skinId }}.png"
					class="skin no-drag-img"
					style="display: none"
					onload="this.style.display=''"
					onerror="this.style.display='none'"
					alt=""
				/>
			}

			<!-- {overflow && <img src={coloredHats[`${hat}${color}`] || hats[hat]} ref={hatImg} className={classes.hat} />} -->
		</div>
		@if (!isDead && hatIdNum() > 0) {
			<img
				src="assets/avatar/hats/{{ getHatImage() }}.png"
				[style.top]="getHatY()"
				[class]="isBackLayerHat() ? 'backlayerd-hat' : ''"
				class="hat no-drag-img"
				style="display: none"
				onload="this.style.display=''"
				onerror="this.style.display='none'"
				alt=""
			/>
		}
		@if (connectionIcon(); as icon) {
			<div class="connectionBadge" [class.novoice]="connectionState === 'novoice'">
				<img [src]="icon" alt="" />
			</div>
		}
	</div>
	<p class="playername_container">
		<span class="playername noselect">{{ player.name }}</span>
	</p>
</div>
