<div class="avatarBase">
	<div *ngIf="this.volumeOpen" class="volumeslider" (mouseout)="openVolume(false)">
		<div class="volumeslider-1">
			<ion-range
				class="volumeSliderThingy"
				[(ngModel)]="settings.volume"
				(ionChange)="onVolumeChange()"
				color="light"
				max="{{ MAXVOLUME }}"
				min="0"
				step="1"
				pin="1"
			>
				<ion-icon slot="start" size="small" name="volume-high-outline"></ion-icon>
			</ion-range>
		</div>
	</div>
	<div class="avatar" [class.talking]="talking" (click)="openVolume()">
		<div class="avatar avatar-2">
			<img
				src="assets/avatar/players/{{ player.colorId }}-{{ isDead ? 'dead' : 'alive' }}.png"
				class="base no-drag-img"
				style="display: none"
				onload="this.style.display=''"
			/>
			<img
				*ngIf="!isDead && player.skinId > 0"
				src="assets/avatar/skins/{{ player.skinId }}.png"
				class="skin no-drag-img"
				style="display: none"
				onload="this.style.display=''"
				onerror="this.style.display='none'"
			/>

			<!-- {overflow && <img src={coloredHats[`${hat}${color}`] || hats[hat]} ref={hatImg} className={classes.hat} />} -->
		</div>
		<img
			*ngIf="!isDead && player.hatId > 0"
			src="assets/avatar/hats/{{ getHatImage() }}.png"
			[style.top]="getHatY()"
			[class]="backLayerHats.has(player.hatId) ? 'backlayerd-hat' : ''"
			class="hat no-drag-img"
			style="display: none"
			onload="this.style.display=''"
			onerror="this.style.display='none'"
		/>
	</div>
	<p class="playername_container">
		<span class="playername noselect">{{ player.name }}</span>
	</p>
</div>
